!!!
%html
  %head
    %title Nocturn
    %meta{ charset: 'utf-8' }
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: 'application.css' }
    %script{ type: 'text/javascript', src: 'application.js' }

  %body.no-scroll
    .timeline
      .header.clearfix
        .button-wrapper
          .button ■
          Home
        .button-wrapper
          .button ■
          Refresh
        .button-wrapper
          .button ■
          Mark as Read

      .editor

      %ul.tabs.clearfix
        %li.tab.active Timeline
        %li.tab Mentions
        %li.tab Lists
        %li.tab Search

      %ul.tweets
        - 100.times do 
          %li.tweet
            @k0kubun
            %br
            hello

