!!!
%html
  %head
    %title Hello World
    %meta{ charset: 'utf-8' }
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: 'application.css' }

  %body
    %h1 Hello World

    We are using io.js
    :javascript
      document.write(process.version)

    and Electron
    :javascript
      document.write(process.versions['electron'])
