$header_height: 46px;
$editor_height: 46px;
$tabs_height: 28px;
$timeline_height: 640px;
$magic_offset: 22px;
$tweet_padding: 8px;
$icon_size: 48px;
$icon_column: $icon_size + $tweet_padding * 2;

.no-scroll {
  overflow-y: hidden;
}

.timeline {
  color: #333;
  position: relative;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    background: #e0e0e2;
    width: 100%;
    height: $header_height;
    z-index: 100;
    overflow: hidden;
    border-bottom: 2px solid #ccc;
    padding: 4px 0 0 8px;

    .button_wrapper {
      float: left;
      font-size: 10px;
      text-align: center;
      margin-right: 8px;
    }

    .button {
      background: #efefef;
      color: #888;
      font-size: 14px;
      width: 38px;
      margin: auto;
      height: 24px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }

  .editor {
    position: fixed;
    top: $header_height;
    left: 0;
    background: #fff;
    width: 100%;
    height: $editor_height;
    z-index: 50;
    overflow: hidden;
  }

  .tabs {
    position: fixed;
    top: $header_height + $editor_height;
    left: 0;
    background: #bbb;
    width: 100%;
    height: $tabs_height;
    z-index: 100;
    overflow: hidden;
    border-top: 1px solid #666;
    border-bottom: 1px solid #888;
    padding: 0 0 0 8px;

    .tab {
      height: $tabs_height;
      width: 60px;
      padding-top: 6px;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      list-style: none;
      float: left;
      border-left: 1px solid #666;
      border-right: 1px solid #666;
      margin-right: -1px;
    }

    .tab.active {
      background: #eee;
    }
  }

  .tweets {
    position: absolute;
    top: $header_height + $editor_height + $tabs_height;
    left: 0;
    background: #fff;
    width: 100%;
    height: $timeline_height - ($header_height + $editor_height + $tabs_height + $magic_offset);
    overflow: scroll;
    padding: 0;

    .tweet {
      padding: $tweet_padding;
      list-style: none;
      border-bottom: 1px solid #ededed;

      &.hidden_template {
        display: none;
      }
    }

    .box_wrapper {
      position: relative;
      min-height: $icon_column;
    }

    .left_box {
      position: absolute;
      top: 0;
      left: 0;
      width: $icon_column;
      height: $icon_column;
    }

    .right_box {
      padding-left: $icon_column;
    }

    .user_icon {
      width: $icon_size;
      height: $icon_size;
      border-radius: 6px;
    }
  }
}
