$header_height: 46px;
$editor_height: 46px;
$tabs_height: 28px;
$timeline_height: 640px;

.no-scroll {
  overflow-y: hidden;
}

.timeline {
  position: relative;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    background: #d0d0d2;
    width: 100%;
    height: $header_height;
    z-index: 100;
    overflow: hidden;
    border-bottom: 2px solid #aaa;
  }

  .editor {
    position: fixed;
    top: $header_height;
    left: 0;
    background: #fff;
    width: 100%;
    height: $editor_height;
    z-index: 50;
    overflow: hidden;
  }

  .tabs {
    position: fixed;
    top: $header_height + $editor_height;
    left: 0;
    background: #bbb;
    width: 100%;
    height: $tabs_height;
    z-index: 100;
    overflow: hidden;
    border-top: 1px solid #666;
    border-bottom: 1px solid #888;
  }

  .tweets {
    position: absolute;
    top: $header_height + $editor_height + $tabs_height;
    left: 0;
    background: #fff;
    width: 100%;
    height: $timeline_height - ($header_height + $editor_height + $tabs_height + 10);
    overflow: scroll;
  }
}
