!!!
%html
  %head
    %title Nocturn
    %meta{ charset: "utf-8" }
    %link{ rel: "stylesheet", href: "./application.css" }

  %body.configuration
    %ul.accounts
      %li.account.clearfix
        %img.account_icon{ src: "https://pbs.twimg.com/profile_images/548412184959545345/lqQFIHqK_400x400.png" }
        %span.screen_name
          k0kubun

    .button_wrapper.clearfix
      .button +
