@charset "UTF-8";
@import "bootstrap";
@import "font-awesome";

$editor_height: 47px;
$tabs_height: 28px;
$timeline_height: 640px;
$tweet_padding: 8px;
$icon_size: 48px;
$retweeted_icon_size: 34px;
$icon_overlay_size: 8px;
$icon_column: $icon_size + $tweet_padding * 2;
$tweets_header_height: 34px;
$red: #d40d12;
$grey: #999;
$dark_grey: #555;
$white: #fff;

// Reject over scrolling
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

.timeline_container {
  color: #333;
  position: relative;
  user-select: none;
  -webkit-user-select: none;

  #account_selector {
    position: absolute;
    top: 14px;
    left: 16px;
  }

  .editor {
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    width: 100%;
    height: $editor_height;
    z-index: 300;
    overflow: hidden;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.06);

    .tweet_editor {
      width: calc(100% - 28px);
      height: $editor_height;
      resize: none;
      border: 0;
      outline: 0;
      padding: 4px 0 4px 41px;
      font-size: 13px;
    }

    .tweet_counter {
      position: absolute;
      top: 2px;
      right: 4px;
      color: $grey;
      font-weight: bold;
      display: none;

      &.active {
        display: inline-block;
      }

      &.minus {
        color: $red;
      }
    }

    .account_wrapper {
      position: relative;
    }

    .twitter_icon {
      position: absolute;
      top: 9px;
      left: 9px;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.14);

      &:hover {
        -webkit-filter: brightness(0.60);
      }
    }
  }

  .tabs {
    position: fixed;
    top: $editor_height;
    left: 0;
    background: #bbb;
    width: 100%;
    height: $tabs_height;
    z-index: 100;
    overflow: hidden;
    border-top: 1px solid #777;
    border-bottom: 1px solid #888;
    padding: 0 0 0 8px;
    box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.06) inset;

    .tab {
      height: $tabs_height;
      padding: 6px 8px;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      list-style: none;
      float: left;
      border-left: 1px solid #666;
      border-right: 1px solid #666;
      margin-right: -1px;

      &.lists_tab,
      &.search_tab {
        padding: 6px 14px;
      }

      .unread_counter {
        display: inline-block;
        background: #777;
        color: $white;
        border-radius: 6px;
        margin-left: 4px;
        padding: 0 5px;
        font-weight: bold;
        font-size: 10px;
        line-height: 1.2;
      }
    }

    .tab:hover {
      background: #aaa;
    }

    .tab.active {
      background: linear-gradient(#fbfbfb, #d9d9d9);
      z-index: 800;
    }
  }

  .tweets {
    position: fixed;
    top: $editor_height + $tabs_height;
    left: 0;
    background: $white;
    width: 100%;
    height: calc(100% - #{$editor_height + $tabs_height});
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    display: none;

    &.with_header {
      height: calc(100% - #{$editor_height + $tabs_height + $tweets_header_height});
      top: $editor_height + $tabs_height + $tweets_header_height;
    }

    &.active {
      display: block;
    }

    .tweet {
      padding: $tweet_padding;
      list-style: none;
      border-bottom: 1px solid #ededed;
      font-size: 11px;

      &.active {
        background: #389cd7;
      }

      &.active .external-link {
        color: white;
        text-decoration: underline;
      }
    }

    .user_name {
      font-weight: bold;
      color: $dark_grey;
      margin-right: 4px;
    }

    .tweet_body {
      font-size: 13px;
      color: $dark_grey;
      line-height: 1.3;
      padding-right: 16px;
      user-select: auto;
      -webkit-user-select: auto;
      word-wrap: break-word;
    }

    .active .user_name,
    .active .tweet_body {
      color: $white;
    }

    .retweeted_by_wrapper {
      margin-top: 6px;
      color: $grey;
      font-weight: bold;
      z-index: 10;

      .retweeted_by {
        margin-right: 4px;
      }
    }

    .active .retweeted_by_wrapper {
      color: $white;
    }

    .screen_name {
      font-weight: bold;
      color: $grey;

      &:before {
        content: '@';
      }
    }

    .name_wrapper {
      float: left;
      white-space: nowrap;
      width: calc(100% - #{$icon_size + 10px});
      overflow: hidden;
      text-overflow: ellipsis;
      color: $grey;
    }

    .created_at {
      float: right;
      color: $grey;
    }

    .active .screen_name,
    .active .created_at {
      color: #cdf;
    }

    .box_wrapper {
      position: relative;
      min-height: $icon_size;
    }

    .left_box {
      position: absolute;
      top: 0;
      left: 0;
      width: $icon_column;
      height: $icon_column;
    }

    .right_box {
      padding-left: $icon_size + 10px;
    }

    .right_widget {
      position: absolute;
      top: 14px;
      right: 0;
      color: #ccc;
      font-size: 12px;
    }

    .active .right_widget {
      color: #eee;
    }

    .favorite_widget_wrapper .favorite_button.active {
      color: #f4c142;
    }

    .user_icon {
      width: $icon_size;
      height: $icon_size;
      border-radius: 6px;
    }

    .retweeted_user_icon {
      width: $retweeted_icon_size;
      height: $retweeted_icon_size;
      border-radius: 6px;
    }

    .retweet_user_icon {
      position: absolute;
      top: $retweeted_icon_size - $icon_overlay_size;
      left: $retweeted_icon_size - $icon_overlay_size;
      width: $icon_size - $retweeted_icon_size + $icon_overlay_size;
      height: $icon_size - $retweeted_icon_size + $icon_overlay_size;
      border-radius: 3px;
    }

    .retweet_icon {
      position: absolute;
      top: $icon_size - 12px;
      left: 4px;
      font-size: 14px;
      color: $dark_grey;
    }

    .active .retweet_icon {
      color: $white;
    }

    .delete_button {
      padding-left: 1px;
    }
  }

  .tweets_header {
    position: absolute;
    top: $editor_height + $tabs_height;
    width: 100%;
    height: $tweets_header_height;
    background: linear-gradient(#efefef, #cccbcc);
    border-bottom: 1px solid #888;
    display: none;
    padding: 0 20px;

    &.active {
      display: block;
    }

    .list_field {
      margin-top: 7px;
      width: 100%;
      color: #888;
      font-size: 16px;
    }

    .search_field {
      margin-top: 6px;
      width: 100%;
      font-size: 12px;
      border-radius: 3px;
      border: 1px solid #aaa;
      padding: 1px 8px;
    }
  }

  .timeline {
    display: none;

    &.active {
      display: block;
    }
  }
}

.timeline_container.darwin {
  $title_bar_offset: 20px;
  $header_height: $title_bar_offset;

  .header {
    height: $header_height;
    padding-top: 5px + $title_bar_offset;
  }

  .editor {
    top: $header_height;
  }

  .tabs {
    top: $header_height + $editor_height;
  }

  .tweets {
    height: calc(100% - #{$header_height + $editor_height + $tabs_height});
    top: $header_height + $editor_height + $tabs_height;

    &.with_header {
      height: calc(100% - #{$header_height + $editor_height + $tabs_height + $tweets_header_height});
      top: $header_height + $editor_height + $tabs_height + $tweets_header_height;
    }
  }

  .tweets_header {
    top: $header_height + $editor_height + $tabs_height;
  }
}
