!!!
%html
  %head
    %title Nocturn
    %meta{ charset: 'utf-8' }
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' }
    %link{ rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' }
    %link{ rel: 'stylesheet', href: 'application.css' }

    :javascript
      require('coffee-script/register');
      require('./application');

  %body.no-scroll
    .timeline
      .header.clearfix
        .button_wrapper
          .button.home_button
            %i.fa.fa-home
          Home
        .button_wrapper
          .button.refresh_button
            %i.fa.fa-refresh
          Refresh

      .editor
        %form{ action: '#', method: 'post' }
          -# this is just a workaround...
          .focus_standby{ tabindex: 1 }
          %textarea.tweet_editor{ name: 'tweet', tabindex: 2 }
          .focus_trigger{ tabindex: 3 }

          .in_reply_to{ id: 0 }

      %ul.tabs.clearfix
        %li.tab.active Timeline
        %li.tab Mentions
        %li.tab Lists
        %li.tab Search

      %ul.tweets
        -# Cloned to add new tweets
        %li.tweet.hidden_template
          .box_wrapper
            .left_box
              %img.user_icon
            .right_box
              .tweet_header
                %span.user_name
                %span.screen_name
              .tweet_body
            .right_widget
              .reply_widget_wrapper
                %i.fa.fa-reply.reply_button
              .favorite_widget_wrapper
                %i.fa.fa-star.favorite_button
